/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-color: #777;
    color:  #777;
    width: 960px;
    margin: 0px auto;
  }

  header {
    background-color: #ebebeb;
    padding: 35px;
    margin: 10px 00px 10px 00px;
    padding: 35px 10% 35px 0%;
  }

  .nav {
    background-color: #ebebeb;
    padding: 35px;
    margin: 0px 00px 20px 00px;
    padding: 35px 10% 35px 0px;
  }

  .section {
    clear: both;
    overflow: auto;
    position:relative;  
    background-color: #ebebeb; 
    width: 495px;
    height: 300px;
    float: left;
    padding: 15px;
    margin: 0px 00px 20px 00px;
    font-weight: lighter;
  }


  #article {
    position:absolute;  
    background-color: #777;
    left: 15px;
    bottom: 15px;
    right: 15px;
    color: #ebebeb;
  }

  #headers {
    background-color: #ebebeb;
    font-weight: bold;
    color: #777;
    margin: 0px 20px 10px 20px;
    padding: 15px;
  }

  #p {
    background-color: #ebebeb;
    color: #777;
    margin: 0px 20px 20px 20px;
    padding: 15px;
  }
  aside {
    background-color: #ebebeb;
    font-weight: unset;
    padding: 20px;
    margin: 0px 00px 20px 520px;
    height: 300px;
  }
  
  h4 {
    font-weight: lighter;
  }

  footer {
    background-color: #ebebeb;
    padding: 35px 10% 35px 0%;
    margin: 0px 00px 10px 00px;
  }